.plan-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: -11vh;
}
.bi bi-clock-fill {
  padding: 5px;
font-weight: bold;
}
.bi bi-geo-alt-fill {
  padding: 5px;
font-weight: bold;
}
.bi bi-people-fill {
  padding: 5px;
font-weight: bold;
}
.display-6 {
  font-size: calc(1.375rem + 0.5vw) !important;
  font-weight: 300;
  line-height: 1.2;
}
