
<%= simple_form_for([@plan, @participant], remote: true, data: {jumping_target: "form", action: "submit->jumping#send"}) do |f| %>
  <div class="form-group d-flex align-items-center mb-3 mt-3">
    <div class="submit-wrapper">
      <%= f.submit "+", class: "btn btn-primary rounded-circle me-2" %>
    </div>
    <%= f.text_field :user, list: 'user-list', autocomplete: 'off', class: "form-control", placeholder: "Add your friend" %>
    <datalist id="user-list">
      <% for user in User.all.select(:nickname) %>
        <option><%= user.nickname %></option>
      <% end %>
    </datalist>
  </div>
<% end %>
