<div class="card">
      <div class="card-body">
        <h5 class="card-title">Event title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Thu 19 Sep · 7-9pm</h6>
        <p class="card-text">
          Some quick example text to for under the card title.
        </p>
      </div>
</div>
