.navbar-lewagon {
  justify-content: space-between;
  background: $dutch-white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 95px;
}

.navbar-toggler {
  border: solid 1px $moonstone !important;
}

.navbar-toggler:focus {
  outline: $moonstone !important;
  color: $moonstone !important;
  border-color: $moonstone !important;
}
