.navbar-lewagon {
  justify-content: space-between;
  background: $light-gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 95px;
}

.navbar-toggler {
  border: solid 1px $moonstone !important;
}

.navbar-toggler:focus {
  outline: $moonstone !important;
  color: $moonstone !important;
  border-color: $moonstone !important;
}

.navbar-toggler img {
  border-radius: 50%;
  width: 30px;
}

.offcanvas-title img {
  width: 75px;
}

.offcanvas-title svg {
  fill: white;
}

.account-section {
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .offcanvas-header,
  .offcanvas-body {
    background-color: #379cb0;
  }
  .header {
    color: white;
  }
  .offcanvas-header {
    border-bottom: 1px solid hotpink;
  }
  .nav-link {
    color: white !important;
  }
  .offcanvas-body a {
    color: $white;
  }
}
