.btn.btn-outline-success.Pending {
  color: $cyan;
  border-color: $cyan;
}

.btn.btn-outline-success.Maybe {
  color: $orange;
  border-color: $orange;
}
.btn.btn-outline-success.Pending:hover {
  color: $cyan;
  border-color: $cyan;
}

.btn.btn-outline-success.Maybe:hover {
  color: $orange;
  border-color: $orange;
}

.btn-outline-success:hover {
  background-color: #19875400 !important;
  }
